body {
    background: url(images/background.avif);
}


 li>img {
    width: 100px;
}

.landscape>ul>li {
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 30px;
    /* padding-left: 30px; */

    
}



/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
} */

/* 
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
} */

/* .header {
    display: flex;
} */


.header > .box {
    padding: 10px;
}

.header > .box > span {
    color: inherit;
    font-size: 40px;
}

.one {
    border-bottom: 4px solid grey;
}

.one:hover {
    background-color: grey;
    color: #eee;
}



.two {
    border-bottom: 4px solid #E3350d;
}
.two:hover {
    background-color: #e3350d;
    color: #eee;
}



.three {
    border-bottom: 4px solid orangered;
}
.three:hover {
    background-color: orangered;
    color: #eee;
}



.four {
    border-bottom: 4px solid  #e6bc2f;
}
.four:hover {
    background-color: #e6bc2f;
    color: white;
}


.five {
    border-bottom: 4px solid #4dad5b;
}
.five:hover {
    background-color: #4dad5b;
    color: white;
}


.six {
    border-bottom: 4px solid #30a7d7;
}
.six:hover {
    background-color:  #30a7d7;
    color: white;
}

.seven {
    border-bottom: 4px solid #1b53ba;
}
.seven:hover {
    background-color: #1b53ba;
    color: white;
}

.box {
    text-align: center;
    display: inline-block;
    color: grey;
    width: 160px;
}

.text {
    font-size: 12px !important;
}


/* .mid>img { */
    /* width: 100%; */
    /* border-radius: 5px 5px 0 0; */
    /* float: left; */
/* } */

/* .mid {
    /* width: 50%; */
    /* background-color: #e6bc2f; */

/* .mid>span>h3 {
    text-align: center;
} */ 




/* .middle-two>img {
    width: 100px;
}

.middle-two {
    background-color: red;
}

/* .middle>.middle-two {
    display: inline-block;
    float: left;
} */

/* .mid {
    display: flex;
} */ 

/* .go>img {
    width: 100px;
} */

/* tr>td>p {
    background-color: #1b53ba;
} */
/* 
.start {
    text-align: center;
} */


/* .one-four {
    background-color: #C7AA79;
} */

.code {
    background-color: #C7AA79;
    padding-left: 20px;
    padding-bottom: 10px;
}

.one-two {
    font-size: 23px;
    color: white;
}

.one-three {
    font-size: 23px;
    color: white;
}

.italic {
    font-style: italic;
}

.one-three {
    line-height: 0px;
}

.one-four {
    font-size: 17px;
}

.half {
    margin-top: 50px;
}

.one-one {
    border-radius: 5px;
}

.one-one>img {
    width: 100%;
}

.half-one>img {
    width: 60%;
}

.half-one>.two-two {
    width: 60%;
    color: white;
    background-color: #e6bc2f;
    font-size: 25px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.half-three>img {
    width: 62%;
}

.half-three>.three-three {
    width: 58%;
    background-color: #1b53ba;
    color: white;
    font-size: 25px;
    padding-left: 20px;
    margin-left: 12px;
    padding-bottom: 10px;
}

/* .top {
    margin-left: 10px;
} */

.top-1 {
    margin-top: 20px !important;
}

.top-2 {
    background-color: #4dad5b;
    color: white;
    font-size: 137.5%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.full-1>img {
    border-radius: 5px;
}

.full-1>.top-2 {
    border-radius: 5px;
}

.top>img {
    border-radius: 5px;
}

.top>.top-3 {
    border-radius: 5px;
    background-color: #e6bc2f;
    color: white;
    font-size: 137.5%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 98.5%;
}

.hope {
    border-radius: 5px;
}

.two-two {
    border-radius: 5px;
}

.hope-1 {
    border-radius: 5px;
}

.three-three {
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.class>.hope-2 {
    width: 350px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;

}

.class {
    /* font-size: 138%;
    color: white;
    /* width: 63%; */
    /* border-radius: 5px;
    background-color: #C7AA79; */
    width: 65%;
}

.class>.hope-4 {
    color: white;
    background-color: #C7AA79;
    width: 95%;
    margin-left: 12px !important;
    font-size: 138%;
    border-radius: 5px;
}

.image-1 {
    opacity: 0.5;
}

.image-1:hover {
    opacity: 1;
}

.image-text {
    font-size: 25px;
}

.image-1 {
    width: 100%;
}

.image-1>img {
    width: 250px;
}

.slide-1>.image-text>.right-side {
    margin-left: 70px !important;
}

.image-1>img {
    background-color: #616161;
    border-left: 3px solid #232323;
    border-right: 3px solid #232323;
}

.image-1>.slide-1 {
    background-color: black;
    width: 98.2%;
    color: white;
    padding-left: 10px;
}

.image-1>.slide-1>.btn-1 {
    color: white;
    
} 

.image-1>.slide-1>.image-text-1>.btn-1 {
    background-color: #4dad5b;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    margin-left: 80px !important;
}

.image-1>.slide-1>.image-text-1>.btn-2 {
    background-color: #d56723;
    color: white;
    border: none;
    border-radius: 5px;

}

.image-1>.slide-1>.image-text-1>.btn-two {
    margin-left: 120px !important;
}

.slide-1>p>.hold-1 {
    margin-left: 70px !important;
    text-transform: capitalize;
}

.material-symbols-outlined {
    font-size: 30px;
}

.slow {
    font-size: 30px;
}

.slowed {
    color: #616161;
    background-color: black;
    width: 29%;
    padding: 10px 10px;
    margin-left: 12px;
    margin-top: 60px !important;
}

/* .slide-end {
    background-color: black;
    color: #616161;
    text-align: right;
    font-size: 25px;
    width: 30%;
} */

.slide-end>.btn-3 {
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 10px;
    font-weight: bold;
    text-align: right;
}

.slide-end {
    text-align: right;
}

.image-2>img {
    width: 100%;
    column-gap: 2px;
}

.heading>h4 {
    color: white;
}

.tall {
    background-color: #1b53ba;
    padding-left: 15px;
    border-radius: 5px;
    padding-right: 15px;
}

.paragraph {
    color: grey;
}

.heading {
    padding-top: 20px;
}

.tall-1 {
    background-color: #ff90c4;
    padding: 20px 15px;
    border-radius: 5px;
}

.tall-2 {
    background-color: #E3350D;
    padding: 20px 15px;
    border-radius: 5px;
}

.tall-3 {
    background-color: #30a7d7;
    padding: 20px 15px;
    border-radius: 5px;
}

.onn {
    margin-top: 30px !important;
}

p>h2 {
    font-size: 30px;
    color: #616161;
}


